<h2>Monitoring and controlling high technical appliances</h2>
<br>
<p>Automated Operation</p>
<button>Load status</button>
<br>
<br>
<br>
<br>
<hr>
<p>Manually Operation</p>



    <button onclick="location.href = 'http://localhost:3000/test?action=on';"type="submit" value="Switch On appliance" >Switch On appliance</button>
    <br>
    <br>
    <button onclick="location.href = 'http://localhost:3000/test?action=off';" type="submit" value="Switch Off appliance">Switch Off appliance</button>



<br>
<br>

<br>