
<h2>Monitoring and controlling high technical appliances</h2>
<br>
<br>
<hr>
<h3>Remotely Operation</h3>
<br>
<button onclick="location.href = 'http://localhost:3000/test?action=on';" style="height: 70px ;background-color: #3a98d8;color: #FFFFFF;border-radius: 12px;"  type="submit" value="Switch On the appliance" >Switch On appliance</button>
<br>
<br>
<button onclick="location.href = 'http://localhost:3000/test?action=off';" style="height: 70px;background-color: #3a98d8;color: #FFFFFF;border-radius: 12px;" type="submit" value="Switch Off the appliance">Switch Off appliance</button>
<!--python client.py 0bc7c03255c3e38e77e2-->
<!--<img src="dist/img/mhc.jpg" alt="Image " style="position:absolute">-->
<br>
<br>

<br>