<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">


        </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
            <a href="#!/HighTech">
                <img src="content/pics/download.png" alt="Norway" style="width:54%" class="w3-hover-opacity">

                <p><b>High tech appliances</b></p></a>
            <p></p>
        </div>
    </div>
    <div class="w3-third w3-container">
        <div class="w3-container w3-white">

        </div>
    </div>
</div>

<!-- Second Photo Grid-->
<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">


        </div>
    </div>

</div>